.uuid-container {
  text-align: center;
  padding: 2rem;
}

.btn {
  min-width: 10rem;
  padding: 1rem;
  background-color: rgb(243, 123, 123);
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(243, 123, 123, 0.685);
}

.uuid-text {
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.uuid-text-block {
  border: 0.1rem solid black;
  border-radius: 4px;
}

.uuid-item {
  margin-top: 4rem;
}

.btn-clipboard {
  background-color: rgb(116, 39, 39);
  color: white;
}

.btn-clipboard:hover {
  background-color: rgb(100, 17, 17);
}

.btn-copied {
  background-color: rgb(103, 241, 103);
}
